
services:
  jupyter_spark:
    build:
      context: .
      dockerfile: Dockerfile.spark
    container_name: jupyter_spark
    user: jupyter
    ports:
      - "8888:8888"
    volumes:
      - ./:/workspace 
    restart: unless-stopped

  postgres:
    image: postgres:15
    container_name: dv_postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: gdelt
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./workspace/data/silver:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  airflow:
    image: apache/airflow:2.7.1-python3.10
    container_name: airflow
    depends_on:
      - postgres
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
    volumes:
      - ./:/workspace
    ports:
      - "8080:8080"
    command: standalone
    restart: unless-stopped

  dbt_postgres:
    image: ghcr.io/dbt-labs/dbt-postgres:1.9.latest
    container_name: dbt_postgres
    volumes:
      - ./:/workspace
    depends_on:
      - postgres
    working_dir: /workspace
    entrypoint: ["tail", "-f", "/dev/null"]
    restart: unless-stopped

